.main-container{
    padding-left: 5.1%;
    padding-right: 5.1%;
}
.flex-container {
    display: flex;
    gap: 10px;   
}

.Selected_Month_Button {
    border: 1px solid white !important;
    border-radius: 37px;
    padding: 1% 3% 1% 3%;
}
.Selected_Month{
    justify-content: space-around;
    gap: 30px;
    span {
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.04em;
        text-align: center;


    }
    
}
.calendar-container {
    background-color: #72c025;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    color: white;
    max-width: 90%;
    max-height: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .calendar-header {
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: center;
    margin-bottom: 10px;
   
  }
  
  .calendar-header h2 {
    margin: 0;
  }


  
  .calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
 .calendar-text {
    margin-top: 4%;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
 
 }
 .BagInput {
    margin-top: 3%;
    width: 29%;
    padding: 10px;
    border-radius: 10px;
    border: none;
 }

  
.options-container {
    width: 90%;
    margin-top: 4%;
    justify-content: space-between;
    label {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 900;
        line-height: 25px;
        text-align: left;

    }
}

.option-label {
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.option-input {
    display: none; /* Hide default checkbox */
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.option-input:checked + .custom-checkbox::after {
    content: '';
    width: 2px;
    height: 1.9px;
    background-color: none;
    border: 4px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.schedule-button {
    margin-top: 4%;
    background-color: #fff;
    color: #72c025;
    font-size: 18px;
    font-weight: 600;
    border-radius: 13px;
    border: none;
    padding: 14px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}