.body{
    height: 90vh;
    background-color: #F4F5F9;
    text-align: center;
}

.card{
    margin-top: 30px;
    width: 410px;
}

.fittings{
    position: relative;

        .text{
            display: block;
            margin: 0 auto;
            width: 407px;
            height: 62px;
            border-radius: 5px;
            border: none;
            margin-top: 30px;
        }

        input::placeholder{
            padding-left: 70px;
        }

        .itext{
            position: absolute;
            top: 16px;
            right: 910px;
            width: 30px;
        }

        .number{
            display: block;
            margin: 0 auto;
            width: 407px;
            height: 62px;
            border-radius: 5px;
            border: none;
            margin-top: 10px;
        }

        .inumber{
            position: absolute;
            top: 95px;
            right: 910px;
            width: 30px;
        }

        .calender{
            width: 190px;
            height: 62px;
            border-radius: 5px;
            border: none;
            margin-top: 10px;
            position: absolute;
            left: 547px;
            
        }

        .icalender{
            position: absolute;
            top: 165px;
            right: 910px;
            width: 30px;
        }

        .cvv{
            width: 190px;
            height: 62px;
            border-radius: 5px;
            border: none;
            margin-top: 10px;
            margin-left: 217px;
        }

        .icvv{
            position: absolute;
            top: 160px;
            right: 695px;
            width: 30px;
        }
}

.saved{
    margin-top: 20px;
    position: relative;

    span{
        position: absolute;
        top: 5px;
        left: 610px;
    }

    img{
        margin-right: 357px;
    }
}

.bots{
    margin-top: 50px;

    button{
        width: 407px;
        height: 62px;
        border: none;
        background-color: #81B622;
        color: #FFFFFF;
        border-radius: 5px;
    }
}


