/* Container Layout */
.maincontainer{
    display: flex;
    max-width: 1440px;
    height: calc(100vh - 56px);
    margin: auto;
    align-items: center;
    background-color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
    justify-content: space-between;
    background-color: black;
    padding: 30px 60px; 

    @media (max-width: 450px) {
      width: 100vw;
      padding:  0px 20px;
      overflow: hidden;
    }
  }

  
  /* Left Content Section */
  .content {
    width: 60%;
    @media (max-width: 450px) {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      width: 400px;
    }
    h1 {
      font: inter;
      font-size: 44px;
      margin-top: 60px;
      margin-bottom: 32px;
      font-weight: 900;
      /* line-height: 30px; */
      color: #73b42d;
      
      @media (max-width: 450px) {
        font-size: 42px;
      }
    }
  }
 
  .highlight-green {
    color: #fff;
  }
  
  .highlight-blue {
    color: #73b42d;
  }
  
  .description {
    max-width: 880px;
    font-size: 22px;
    color: #333;
    line-height: 1.3;
    margin-bottom: 0px;
    color: #ffffff;
    
    @media (max-width: 450px) {
      font-size: 18px;
      max-width: 330px;
    }
  }
  
  /* Button Styling */
  .action-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 24px 40px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 70px;

    @media (max-width: 450px) {
      padding: 12px 20px;
      font-size: 1rem;
    }
  }
  
  .action-button:hover {
    background-color: #5a8f20;
  }
  
  /* Right Image Section */
  .image-container {
    max-width: 40%;
    margin: 0; 
  }
  
  .image-container img {
    width: 518px;
    height: 535px;
    /* position: absolute; */
    top: 206px;
    left: 803px;

    @media (max-width: 450px) {
      /* display: none; */
      position: relative;
      left: 0px;
      display: none;
      
    }
  }
  
  #first {
    position: absolute;
    top: 30.98px;
    left: 14px;

    @media (max-width: 450px) {
      top: 40px;
    }
  }
 #second {
    position: absolute;
    top: 28px;
    left: 257px;
  }
  #third {
    position: absolute;
    top: 435px;
    left: 36px;

    @media (max-width: 450px) {
      left: 20px;
      top: 375px;
    }
  }
  #fourth {
    position: absolute;
    top: 475px;
    left: 650px;

    @media (max-width: 450px) {
      left: 300px;
      top: 400px;
      
    }
  }
  #fifth {
    position: absolute;
    top: 83px;
    left: 614px;

    @media (max-width: 450px) {
      top: 128px;
      left: 320px;
    }
  }
  
  